@using Messentra.Features.Explorer.Resources
@using MudBlazor.Utilities

<div class="namespace-tree">
    <MudPaper Elevation="0" Class="d-flex align-center justify-space-between pa-2">
        <MudText Typo="Typo.h6">Namespaces</MudText>
        <MudMenu Icon="@Icons.Material.Filled.Add"
                 Size="Size.Small"
                 Color="Color.Primary"
                 Dense="true"
                 AnchorOrigin="Origin.BottomRight"
                 TransformOrigin="Origin.TopRight"
                 FullWidth="true">
            <ChildContent>
                @{
                    var availableConnections = Connections
                        .Where(x => Resources.All(r => r.Text != x.Name))
                        .ToList();
                }

                <MudMenuItem Icon="@Icons.Material.Rounded.AddCircle" IconColor="Color.Primary" OnClick="@OpenConnections">
                    <MudText Color="Color.Primary" Typo="Typo.body2"><b>Add connection</b></MudText>
                </MudMenuItem>
                @if (availableConnections.Count != 0)
                {
                    <MudDivider/>
                    <MudText Typo="Typo.caption" Class="text-secondary ml-2"><b>SAVED CONNECTIONS</b></MudText>
                }
                @foreach (var connection in availableConnections)
                {
                    <MudMenuItem Icon="@Icons.Material.Filled.Dns" IconColor="Color.Default" OnClick="@(() => SelectConnection(connection))">
                        <MudStack Spacing="0">
                            <MudText Typo="Typo.body2">@connection.Name</MudText>
                            <MudText Typo="Typo.caption" Color="Color.Primary">@connection.ConnectionConfig.GetNamespace()</MudText>
                        </MudStack>
                    </MudMenuItem>
                }
            </ChildContent>
        </MudMenu>
    </MudPaper>
    <MudDivider Class="border-2"/>
    @if (Resources.Count == 0)
    {
        <MudStack AlignItems="AlignItems.Center" Class="ma-2 mud-height-full dashed-border" Justify="Justify.Center">
            <MudIcon Icon="@Icons.Material.Rounded.CloudOff" Size="Size.Large" Color="Color.Default"/>
            <MudText Typo="Typo.body2" Align="Align.Center" Class="text-secondary">
                No connection selected
            </MudText>
            <MudText Typo="Typo.caption" Inline="true" Align="Align.Center" Class="text-secondary">
                Click the <MudText Typo="Typo.caption" Color="Color.Primary">+</MudText> button to add a connection and start exploring your Azure Service Bus resources.
            </MudText>
        </MudStack>
    }
    else
    {
        <MudHotkey Key="JsKey.F5" OnHotkeyPressed="@(RefreshHotkeyClicked)"/>
        <MudAutocomplete T="string"
                         Class="mx-2"
                         Dense="true"
                         Value="@_localSearchPhrase"
                         ValueChanged="@OnSuggestionSelected"
                         TextChanged="@OnTextChanged"
                         SearchFunc="@SuggestSearchPhrases"
                         CoerceValue="true"
                         ResetValueOnEmptyText="true"
                         MinCharacters="0"
                         MaxItems="10"
                         Immediate="true"
                         Clearable="true"
                         DebounceInterval="300"
                         Typo="Typo.caption"
                         Adornment="Adornment.Start"
                         IconSize="Size.Small"
                         AdornmentIcon="@Icons.Material.Filled.Search">
            <ItemTemplate Context="option">
                @{
                    var token = option.Trim().Split(' ').LastOrDefault() ?? option;
                }
                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                    <MudIcon Icon="@GetSuggestionIcon(token)" Size="Size.Small" Color="Color.Primary"/>
                    <MudText Typo="Typo.body2">@token</MudText>
                </MudStack>
            </ItemTemplate>
        </MudAutocomplete>
        <MudTreeView Ripple="false" Items="@FilteredResources" Dense="true" Class="ma-0 pa-0 mud-height-full compact-tree"
                     tabindex="0"
                     @onfocusin="@(() => _isFocused = true)"
                     @onfocusout="@(() => _isFocused = false)">
            <ItemTemplate>
                @{
                    var presenter = (context as ResourceTreeItemData)!;
                }
                <ResourceTreeItemWrapper @key="@ResourceTreeItemKeys.GetKey(presenter.Value)"
                                         Presenter="@presenter"
                                         IsSelected="@IsSelected(presenter.Value)"
                                         IsExpanded="@IsExpanded(presenter)"
                                         ExpandedChanged="@(x => OnExpandedChanged(presenter, x))"
                                         SelectedChanged="@(x => ItemSelected(presenter, x))">
                    <ItemContent>
                        @switch (presenter.Value)
                        {
                            case FolderTreeNode folderNode:
                                <MudMenu ActivationEvent="@MouseEvent.RightClick"
                                         PositionAtCursor="true"
                                         AnchorOrigin="Origin.BottomLeft"
                                         Dense="true"
                                         Class="mud-width-full">
                                    <ActivatorContent Context="c">
                                        <div class="mud-width-full tree-item-body"
                                             @oncontextmenu="@(async e => await OnTreeItemRightClick(presenter, c, e))"
                                             @oncontextmenu:preventDefault="true"
                                             @oncontextmenu:stopPropagation="true">
                                            <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mud-width-full">
                                                <MudText Typo="Typo.caption" Class="flex-grow-1 text-truncate">@presenter.Text</MudText>
                                                <MudIconButton
                                                    Icon="@Icons.Material.Filled.Refresh"
                                                    Color="Color.Primary"
                                                    Size="Size.Small"
                                                    Ripple="false"
                                                    OnClick="@(() => OnRefreshClicked(presenter.Value))"/>
                                            </MudStack>
                                        </div>
                                    </ActivatorContent>
                                    <ChildContent>
                                        <MudMenuItem Label="Rename" Icon="@Icons.Material.Filled.DriveFileRenameOutline" OnClick="@(async () => await OnContextRenameFolder(folderNode))"/>
                                        <MudDivider/>
                                        <MudMenuItem Label="Delete" Icon="@Icons.Material.Filled.FolderDelete" OnClick="@(() => OnContextDeleteFolder(folderNode))" Class="mud-error-text"/>
                                    </ChildContent>
                                </MudMenu>
                                break;
                            case QueueTreeNode or TopicTreeNode or SubscriptionTreeNode:
                            {
                                var resourceNode = presenter.Value!;
                                var connectionName = GetConnectionName(resourceNode) ?? "";
                                var allFolders = GetAllFolderNodes(connectionName).ToList();
                                <MudMenu ActivationEvent="@MouseEvent.RightClick"
                                         PositionAtCursor="true"
                                         AnchorOrigin="Origin.BottomLeft"
                                         TransformOrigin="Origin.TopLeft"
                                         Dense="true"
                                         Class="mud-width-full">
                                    <ActivatorContent Context="c">
                                        <div class="mud-width-full tree-item-body"
                                             @oncontextmenu="@(async e => await OnTreeItemRightClick(presenter, c, e))"
                                             @oncontextmenu:preventDefault="true"
                                             @oncontextmenu:stopPropagation="true">
                                            <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mud-width-full">
                                                <MudText Typo="Typo.caption" Class="flex-grow-1 text-truncate">@presenter.Text</MudText>
                                                @if (presenter.Value is { IsLoading: false })
                                                {
                                                    <MudText Typo="Typo.caption">
                                                        @GetMessageCountText(presenter.Value)
                                                    </MudText>
                                                }
                                                else
                                                {
                                                    <MudProgressCircular Class="namespace-loading-icon" Color="Color.Primary" Indeterminate="true"/>
                                                }
                                            </MudStack>
                                        </div>
                                    </ActivatorContent>
                                    <ChildContent>
                                        <MudMenuItem Icon="@Icons.Material.Filled.Refresh"
                                                     Label="Refresh (F5)"
                                                     OnClick="@(() => OnContextRefreshResource(resourceNode))" />
                                        <MudDivider/>
                                        @if (presenter.ParentFolderNode is not null)
                                        {
                                            @if (resourceNode is TopicTreeNode)
                                            {
                                                var subUrls = resourceNode is TopicTreeNode
                                                    ? presenter.Children
                                                        ?.OfType<ResourceTreeItemData>()
                                                        .Select(c => c.Value)
                                                        .OfType<SubscriptionTreeNode>()
                                                        .Select(s => s.Resource.Url)
                                                        .ToList() ?? []
                                                    : [];
                                                <MudMenuItem Icon="@Icons.Material.Filled.FolderDelete"
                                                             Label="Delete from folder"
                                                             OnClick="@(() => OnContextRemoveTopicFromFolder(subUrls, presenter.ParentFolderNode))"
                                                             Class="mud-error-text"/>
                                            }
                                            else
                                            {
                                                <MudMenuItem Icon="@Icons.Material.Filled.FolderDelete"
                                                             Label="Delete from folder"
                                                             OnClick="@(() => OnContextRemoveFromFolder(resourceNode, presenter.ParentFolderNode))"
                                                             Class="mud-error-text"/>
                                            }
                                        }
                                        else if(allFolders.Count > 0)
                                        {
                                            <MudMenu Label="Add to folder">
                                                @foreach (var folder in allFolders)
                                                {
                                                    <MudMenuItem Icon="@Icons.Material.Filled.Folder"
                                                                 Label="@folder.Name"
                                                                 OnClick="@(() => OnContextAddToFolder(resourceNode, folder))"/>
                                                }
                                            </MudMenu>
                                        }
                                        @if (presenter.ParentFolderNode is null)
                                        {
                                            <MudMenuItem Icon="@Icons.Material.Filled.CreateNewFolder"
                                                         Label="Add to new folder..."
                                                         OnClick="@(async () => await OnContextAddToNewFolder(resourceNode))"/>
                                        }
                                    </ChildContent>
                                </MudMenu>
                                break;
                            }
                            case FoldersTreeNode foldersNode:
                                <MudMenu ActivationEvent="@MouseEvent.RightClick"
                                         PositionAtCursor="true"
                                         AnchorOrigin="Origin.BottomLeft"
                                         Dense="true"
                                         Class="mud-width-full">
                                    <ActivatorContent Context="c">
                                        <div class="mud-width-full tree-item-body"
                                             @oncontextmenu="@(async e => await OnTreeItemRightClick(presenter, c, e))"
                                             @oncontextmenu:preventDefault="true"
                                             @oncontextmenu:stopPropagation="true">
                                            <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mud-width-full">
                                                <MudText Typo="Typo.caption" Class="flex-grow-1 text-truncate">@presenter.Text</MudText>
                                                @if (presenter.Value is { IsLoading: false })
                                                {
                                                    <MudIconButton Icon="@Icons.Material.Filled.CreateNewFolder"
                                                                   Color="Color.Primary"
                                                                   Size="Size.Small"
                                                                   Ripple="false"
                                                                   Class="folders-add-btn"
                                                                   OnClick="@(async () => await OnAddFolderClicked(foldersNode))"/>
                                                }
                                            </MudStack>
                                        </div>
                                    </ActivatorContent>
                                    <ChildContent>
                                        <MudMenuItem Icon="@Icons.Material.Filled.CreateNewFolder"
                                                     OnClick="@(async () => await OnAddFolderClicked(foldersNode))">New folder</MudMenuItem>
                                    </ChildContent>
                                </MudMenu>
                                break;
                            default:
                                <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mud-width-full tree-item-body">
                                    <MudText Typo="Typo.caption" Class="flex-grow-1 text-truncate">@presenter.Text</MudText>
                                    @if (presenter.Value is { IsLoading: false })
                                    {
                                        switch (presenter.Value)
                                        {
                                            case NamespaceTreeNode:
                                                <MudButton Variant="Variant.Text"
                                                           Color="Color.Primary"
                                                           Ripple="false"
                                                           OnClick="@(_ => Disconnect(presenter))"
                                                           Class="disconnect-button">
                                                    Disconnect
                                                </MudButton>
                                                break;
                                            case QueuesTreeNode or TopicsTreeNode:
                                                <MudIconButton
                                                    Icon="@Icons.Material.Filled.Refresh"
                                                    Color="Color.Primary"
                                                    Size="Size.Small"
                                                    Ripple="false"
                                                    OnClick="@(() => OnRefreshClicked(presenter.Value))"/>
                                                break;
                                        }
                                    }
                                    else
                                    {
                                        if (presenter.Value is NamespaceTreeNode namespaceNode)
                                        {
                                            <div class="namespace-loading-control">
                                                <MudProgressCircular Class="namespace-loading-icon namespace-loading-spinner" Color="Color.Primary" Indeterminate="true"/>
                                                <MudIconButton Class="namespace-loading-cancel"
                                                               Icon="@Icons.Material.Filled.Stop"
                                                               Color="Color.Error"
                                                               Size="Size.Small"
                                                               OnClick="@(() => OnCancelFetchResourcesClicked(namespaceNode.ConnectionName))" />
                                            </div>
                                        }
                                        else
                                        {
                                            <MudProgressCircular Class="namespace-loading-icon" Color="Color.Primary" Indeterminate="true"/>
                                        }
                                    }
                                </MudStack>
                                break;
                        }
                    </ItemContent>
                </ResourceTreeItemWrapper>
            </ItemTemplate>
        </MudTreeView>
    }
</div>

